[Desktop Entry]
Name=anatine
GenericName=Anatine
Comment=Chromium based twitter client
Exec=Anatine
Icon=/usr/share/pixmaps/anatine.png
Type=Application
Categories=Network
Terminal=false
StartupNotify=true
